nav {
  display: flex;
  justify-content: flex-end;
}

nav #signout {
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  padding: 20px;
  cursor: pointer;
}

nav #signout:hover {
  color: rgb(104, 103, 103);
  transition: 0.3s;
}
